<div class="row">
  <h1><%= @article.title %></h1>
  <p class="align-text-top"><%= link_to sanitize('<i class="fas fa-pencil-alt"></i>'), edit_article_path(@article) %></p>
  <p><%= link_to sanitize('<i class="fas fa-trash-alt"></i>'), article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>

<p><%= @article.content %></p>

